.about {
  background-color: #ebebeb;
  padding-bottom: 50px;
  transform: skew(0deg, 3deg);
  -ms-transform: skew(0deg, 10deg);
  -webkit-transform: skew(0deg, 3deg);

  .bg-top {
    height: 200px;
    position: absolute;
    top: 0px;
    z-index: -10;
    width: 100%;
    background: url(../images/logo.png);
    background-color: transparent;
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  .bg-bottom {
    height: 200px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: -10;
    background: url(../images/logo.png);
    background-color: transparent;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }

  .content {
    transform: skew(0deg, -3deg);
    -ms-transform: skew(0deg, -10deg);
    -webkit-transform: skew(0deg, -3deg);

    p {
      clear: left;
      padding: 20px;
      text-align: center;
    }

    .about-desc {
      width: 1000px;
      margin: 0 auto;
      display: flex;
      justify-content: center;

      hr {
        width: 1px;
        height: 250px;
        margin: 0 20px;
      }

      .about-left {
        width: 300px;
        text-align: right;

        .info {
          margin-top: -10px;
        }

        .label {
          font-size: 20px;
          font-weight: bold;
          margin-top: 15px;
          text-transform: uppercase;

          &:first-of-type {
            margin-top: 40px;
          }
        }
      }

      .about-right {
        width: 300px;
        text-align: left;

        .info {
          margin-top: -10px;
        }

        .label {
          font-size: 20px;
          font-weight: bold;
          margin-top: 15px;
          text-transform: uppercase;

          &:first-of-type {
            margin-top: 40px;
          }
        }
      }

      .about-pic {
        width: 400px;

        img {
          width: 260px;
          height: 260px;
          border-radius: 50%;
          box-shadow: 4px 5px 8px black;
        }
      }
    }

    .studies {
      margin: 20px 0 50px 0;
      width: 50%;
      float: left;
      text-align: center;

      img {
        width: 70px;
        box-shadow: 4px 5px 8px black;
        height: 70px;
        border-radius: 50%;
        margin-right: 5px;

        &:last-of-type {
          width: 85px;
          height: 85px;
        }
      }
    }

    .btn {
      clear: both;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      border: 3px solid white;
      background-color: $primary;
      border-radius: 10px;
      padding: 10px;
      font-weight: bold;
      color: white;
      text-shadow: 2px 3px 8px black;
    }
  }
}

@media (max-width: 1040px) {
  .about {
    .bg-top {
      height: 100px;
    }
    .bg-bottom {
      height: 100px;
    }

    .content {
      .about-desc {
        flex-flow: row wrap;
        width: 100%;

        .about-left {
          width: 40%;
          margin-right: 5%;
          margin-bottom: 30px;
        }

        .about-right {
          width: 40%;
          margin-bottom: 30px;
        }

        .about-pic {
          order: 3;
          margin: 0;

          img {
            margin: 0;
          }
        }
      }
    }
  }
}
