.blog {
  background-color: #161616;
  height: 300px;

  a {
    display: block;
    padding-top: 120px;
    font-size: 30px;
    text-align: center;
    color: grey;
  }
}

footer {
  height: 60px;
  background: linear-gradient(to right, #aa51f7, #cb3340);
  p {
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
    color: white;
    padding-top: 30px;
  }
}
