.portfolio {
  padding-bottom: 120px;
  background: url(../images/logo.png);
  background-size: 70%;
  background-position: center;
  background-color: #161616;
  background-repeat: no-repeat;

  h3 {
    color: #fff;
  }

  .figures {
    width: 1040px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    z-index: 0;

    figure {
      font-size: 16px;
      width: 200px;
      margin-right: 25px;
      overflow: hidden;
      text-overflow: ellipsis;
      float: left;
      filter: grayscale(0.9);
      margin-bottom: 25px;
      transition: 0.3s ease;
      @include background();
      cursor: pointer;

      // &:nth-child(5n) {
      //   margin-right: 0;
      // }

      &:hover {
        filter: grayscale(0);
        transform: scale(1.1, 1.1);
        z-index: 3;
      }

      img {
        width: 100%;
        height: 190px;
        object-fit: cover;
        border: 5px solid $border;
        box-shadow: 10px 10px 60px #353535, -10px -10px 60px #353535;
      }

      figcaption {
        text-shadow: 2px 3px 10px black;
        text-overflow: ellipsis;
        line-height: 25px;
        color: white;
        //top: -150px;
        text-align: center;

        font-weight: bold;
        text-transform: uppercase;

        h4 {
          text-shadow: 2px 3px 8px black;
        }

        a {
          padding-top: 10px;

          span {
            border: 3px solid white;
            padding: 3px;
            color: white;
          }
        }
      }
    }
  }

  .modal-details {
    padding: 20px 50px;

    .inner {
      display: flex;
      .left {
        width: 40%;

        .img-container {
          margin-top: 15px;
          width: 100%;
          height: 480px;
          box-shadow: 4px 5px 40px #b9b9b9;
        }

        img {
          width: 100%;
          object-fit: cover;
          height: 100%;
        }
      }
      .right {
        width: 60%;
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .modal-btn {
          padding: 15px;
          text-align: center;
          background: #b9b9b9;
          border: 3px solid white;
          color: $primary;
          cursor: pointer;
          font-size: 0.9rem;
          letter-spacing: 0.2rem;
          box-shadow: 4px 5px 40px #b9b9b9;
          margin-top: 25px;
          font-weight: bolder;
          transition: all 0.5s ease-in;

          &:hover {
            background: #cecece;
          }
        }

        p {
          font-size: 0.9rem;
        }

        h5 {
          margin-bottom: 15px;
        }
        span.tag {
          padding: 10px;
          font-size: 0.6rem;
          letter-spacing: 0.15rem;
          background: $primary;
          color: #272727;
          margin-right: 10px;
        }
      }
    }
  }
}

#hyper-modal-wrapper_component_id {
  z-index: 999;
}

@media (max-width: 1040px) {
  .portfolio {
    background-size: cover;
    background-position: center;
    background-color: #161616;
    background-repeat: no-repeat;

    .portfolio .figures {
      width: 100%;

      figure {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 1042px) {
  .portfolio .figures figure {
    margin-bottom: 0;

    &:nth-child(5n) {
      margin-right: 10px;
    }
  }
}
